[submodule "11_mySubsSkills/skill_mdRefactor"]
	path = 11_mySubsSkills/skill_mdRefactor
	url = https://github.com/SOLEROM/skill_mdRefactor
[submodule "11_mySubsSkills/skill_ccpan"]
	path = 11_mySubsSkills/skill_ccpan
	url = https://github.com/SOLEROM/agent_ccpanBuilder.git
[submodule "11_mySubsSkills/skill_gangPatterns"]
	path = 11_mySubsSkills/skill_gangPatterns
	url = https://github.com/SOLEROM/skill_gangPatterns
[submodule "12_sshs/targetor"]
	path = 12_sshs/targetor
	url = https://github.com/SOLEROM/agent_Targetor
